<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/about/">about us</a>
        <a href="/contact/">course</a>
        <a href="/store">store</a>

    </nav>
    <h1>Welcome</h1>
    <h2>This is our webpage</h2>
    <p>First website..</p>
    <img src="{{url_for ('static', filename='random.png')}}" style="width: 500px; height: 500px;">
    <br>
    <a href="https://www.udemy.com/course/the-python-mega-course/learn/lecture/34604530#overview">My udemy course</a>
</body>
</html>